<section class="thirteen columns">
    <h1>Work Experience</h1>
    <article>
        <header>
            <h1>C++ Software Engineer</h1>
            <span><a class="company" href="http://www.afiniti.com/">Afiniti</a></span>
            <span><address>Lahore, PK</address><time>September 2019 to Present</time></span>
        </header>
        <p>Working in Core Engineering Team, So far I have implemented. </p>
        <p> • AVAYA CMS R18 Protocol. </p>
        <p> • CVLAN Protocol for communication of CISCO Client with AVAYA Server. </p>
    </article>
    <article>
        <header>
            <h1>C++ Software Engineer</h1>
            <span><a class="company" href="https://www.avanzasolutions.com/">Avanza Solutions</a></span>
            <span><address>Lahore, PK</address><time>November 2017 to September 2019</time></span>
        </header>
        <p> As a part of the Implementation team in Electronic Fund Transfer (EFT) department, 
		worked on configurations and feature enhancement of the core products such as 
	    <a class="company" href="https://www.avanzasolutions.com/rendezvous/">Rendezvous</a> and 
		<a class="company" href="https://www.avanzasolutions.com/novus/">Novus</a>.</p>
	    <em>Achievements</em>
	    	<p> • Upgraded Backend Services of 
		<a class="company" href="https://ubank.com.pk/"> UBank Pakistan </a>
			to <a class="company" href="https://en.wikipedia.org/wiki/PA-DSS"> PA-DSS compliance.</a>.</p>
	    	<p> • Went Onsite for
		<a class="company" href="https://1link.net.pk/pay-pak/">PayPak EMV</a>
			certification for 1Link and ATMs and Pay2AnyOne feature enhancement for
		<a class="company" href="https://bankislami.com.pk/"> Bank Islami Pakistan</a>.</p>
	    	<p> • Went Onsite for
		<a class="company" href="https://www.mastercard.us/en-us/issuers.html">MasterCard</a>
			Issuing Certification of EMV and MagStrip cards for
		<a class="company" href="https://www.premierbank.so"> Premier Bank Somalia</a>.</p>
	    
	    	<p> • Went Onsite for integrating 
		<a class="company" href="https://www.omantel.om/Business/Mobile/Prepaid">OmanTel Prepaid Card</a>
			into 
		<a class="company" href="https://bankdhofar.com/en-GB/Default.aspx"> Bank Dhofar Oman</a>
		ATMs.</p>

		<p> • Developed 
		<a class="company" href="https://en.wikipedia.org/wiki/PA-DSS">PA-DSS compliance</a>
		    BackEnd services for 
		<a class="company" href="https://abdirect.abbl.com/login#!">ABBank Bangladesh | Financial Transactions</a>
		 coming from different channels, in different formats, which include
		<a class="company" href="https://en.wikipedia.org/wiki/ISO_8583"> ISO_8583</a>
		, TCP/IP and SOAP webservices. </p>	    
    </article>
    <article>
        <header>
            <h1>Junior C++ Software Engineer</h1>
            <span><a class="company" href="http://www.infotechgroup.com/">InfoTech Group</a></span>
            <span><address>Lahore, PK</address><time>November 2016 to July 2017</time></span>
        </header>
        <p> • Developed and maintained algorithms for internal SDK. </p>
        <p> • Wrote and consumed Restful API for client server application using VC++. </p>
        <p> • Worked with Sockets and developed complete understanding of UDP and TCP/IP. </p>
        <p> • Developed understanding of low latency, high frequency real time application. </p>
		<p> • Used STL, Boost regularly and have handled very large number arithmetic using GMP. </p>
		<em>Achievements</em>
        <p> I also developed back end services of 
		<a class="company" href="http://www.infotechgroup.com/capizar/">Capizer</a>
		 using NodeJS and maintained the front end of legacy Adobe Flash Web App.</p>
    </article>
    <article>
        <header>
            <h1>C++ Developer (50+ Projects)</h1>
            <span><a class="company" href="https://www.freelancer.com/u/SahibYar">Freelancer.com</a></span>
            <span><address>Remote</address><time>Sep 2014 to Present</time></span>
        </header>
        <p>As a Freelance C++ developer, I have </p>
        <p> • Implemented a wide range of algorithms (heuristic and meta-heuristic algorithms, probabilistic data structures,
            solved multiple NP-hard problems) for research graduates.</p>
        <p> • Developed a very good command on Parallel Processing and Multi-Threading.</p>
    </article>
    <article>
        <header>
            <h1>Linux OS Teaching Assistant</h1>
            <span><a class="company" href="http://au.edu.pk/">Air University</a></span>
            <span><address>Islamabad, PK</address><time>Feb 2015 to June 2015</time></span>
        </header>
        <p> Conducted labs of Operating Systems, topics included were Process, Thread, concurrent
		programming, deadlocks, process scheduling, virtual memory in C and C++.
        </p>
    </article>
</section>
