<section class="thirteen columns">
    <h1>Work Experience</h1>
    <article>
        <header>
            <h1>Technical Lead</h1>
            <span><a class="company" href="https://securiti.ai/">Securiti</a></span>
            <span><address>Fully Remote</address><time>November 2021 to Present</time></span>
        </header>
	<em>Tech Stack:</em>
        <p>Java11, JUnit5, Apache Maven, J2EE, RESTful Architecture, Go, Redis, Python, Kubernetes, PostgreSQL. </p>
	<em>Content Classification - Backend Services</em>
	<p>A solution which helps in detecting different personal data in all type of structured and unstructured data formats and document types. It extracts text using different open source and paid libraries and pass it to data science team via SQS AWS. </p>
	<em>Few Tasks in recent months:</em>
	<p> • Reduced tech debt by simplifying and deleting 5000+ lines of code in key areas. </p>
	<p> • Lead the effort to increase our test coverage for commercial features and stabilize existing tests. </p>
	<p> • Support for removing secrets from config files and load them from external configurable secret store by writing and consuming REST-API (Go, Java) </p>
        <p> • Column Data Type detection of CSV files. Also added few commits to tablesaw open-source library (Java). </p>
        <p> • Wrote / improved efficacy of different office documents, spreadsheets and presentations parsers using Apache PDFBox, Apache POI, Apache Tika and KeyView (Java). </p>
        <p> • Used Redis version of HyperLogLog for counting cardinality from PetaByte scale data set (Java). </p>
        <p> • Added few rest APIs for pushing data to S3 buckets using pre-signed URLs. (Go) </p>
        <p> • Added PR validations checks in Bitbucket pipeline. (Python) </p>
	    <em>Daily Duties:</em>
        <p> • Mentoring junior engineers with their code and design decisions.</p>
        <p> • Building highly scalable systems in a fast paced, team-oriented environment.</p>
    </article>
    <article>
        <header>
            <h1>Senior Software Engineer</h1>
            <span><a class="company" href="http://www.afiniti.com/">Afiniti</a></span>
            <span><address>Lahore, PK</address><time>September 2019 to November 2021</time></span>
        </header>
	<em>Tech Stack:</em>
        <p>CentOS, Shell, C++, Concurrent TCP Server, SSL, Kafka, POSIX, CMake, PostgreSQL, MySQL, Restful, IPC. </p>
	<em>Contact Centre Reporting Solution - Backend Services</em>
	<p>A reporting solution where users can supervise the current status of contact center in/out call flows, agent states, call in queue, call count. This system is based on micro-services architecture which uses multithreaded environment, for real-time reporting with very high throughput and high load, and it has some scheduled jobs running on several concurrent server</p>
	<em>Achievements:</em>
        <p> • Built SSL based AVAYA Call Manager communication with Avaya CMS protocol of version 6.x ,7.x, 8.x, 9.x. </p>
        <p> • Built concurrent server for handling multiple clients via TCPIP sockets. </p>
        <p> • Replaced Kafka with files for configurable asynchronous DB insertion increasing its performance by 1000%. </p>
        <p> • Optimized query processing time to reduce server response time from a couple of minutes to a couple of seconds. </p>
        <p>My daily task includes Code refactoring, bug fixing and feature enhancements. </p>
    </article>
    <article>
        <header>
            <h1>Implementation Engineer</h1>
            <span><a class="company" href="https://www.avanzasolutions.com/">Avanza Solutions</a></span>
            <span><address>Lahore, PK</address><time>November 2017 to September 2019</time></span>
        </header>
	    	<em>Tech Stack:</em>
        <p>Windows, .Net, VC++, C#, Java, MSSQL, Oracle, MSMQ, Restful, SOAP, ISO8583 Protocol, HSM, EMV.</p>
	<em>Payment Middleware - Backend Services, Core Banking, Credit Card and Utility Govt</em>
	<p>As a part of the Implementation team in Electronic Funds Transfer (EFT) department, worked on configurations and feature enhancement of the core products which enables organizations to seamlessly integrate multiple payment channels with core banking systems. Architectural diagram of <a class="company" href="https://www.avanzasolutions.com/rendezvous/">Rendezvous</a> and <a class="company" href="https://www.avanzasolutions.com/novus/">Novus</a> are available online.</p>

	    <em>Responsibilities</em>
	    	<p> • Developed Secure, configurable and scalable payment applications (middleware, ATM, switches) </p> 
	    	<p> • Performance enhancements of existing tools.</p> 
	    	<p> • Developing client specific utilities (in .Net/C++). </p> 
	    	<p> • Travelling onsite for development, testing and deployment activities. </p> 
	    	<p> • Meeting with client for requirement gathering, analysis of project scope according to customer’s business requirements. </p> 

	    <em>Achievements</em>
	    	<p> • Upgraded Backend Services of 
		<a class="company" href="https://ubank.com.pk/"> UBank Pakistan </a>
			to <a class="company" href="https://en.wikipedia.org/wiki/PA-DSS"> PA-DSS compliance.</a>.</p>
	    	<p> • Went Onsite for
		<a class="company" href="https://1link.net.pk/pay-pak/">PayPak EMV</a>
			certification for 1Link and ATMs and Pay2AnyOne feature enhancement for
		<a class="company" href="https://bankislami.com.pk/"> Bank Islami Pakistan</a>.</p>
	    	<p> • Went Onsite for
		<a class="company" href="https://www.mastercard.us/en-us/issuers.html">MasterCard</a>
			Issuing Certification of EMV and MagStrip cards for
		<a class="company" href="https://www.premierbank.so"> Premier Bank Somalia</a>.</p>
	    
	    	<p> • Went Onsite for integrating 
		<a class="company" href="https://www.omantel.om/Business/Mobile/Prepaid">OmanTel Prepaid Card</a>
			into 
		<a class="company" href="https://bankdhofar.com/en-GB/Default.aspx"> Bank Dhofar Oman</a>
		ATMs.</p>

		<p> • Developed 
		<a class="company" href="https://en.wikipedia.org/wiki/PA-DSS">PA-DSS compliance</a>
		    BackEnd services for 
		<a class="company" href="https://abdirect.abbl.com/login#!">ABBank Bangladesh | Financial Transactions</a>
		 coming from different channels, in different formats, which include
		<a class="company" href="https://en.wikipedia.org/wiki/ISO_8583"> ISO_8583</a>
		, TCP/IP and SOAP webservices. </p>	    
    </article>
    <article>
        <header>
            <h1>Junior Software Engineer</h1>
            <span><a class="company" href="http://www.infotechgroup.com/">InfoTech Group</a></span>
            <span><address>Lahore, PK</address><time>November 2016 to July 2017</time></span>
        </header>
	    	    	<em>Tech Stack:</em>
        <p>Windows, .Net, VC++, Restful, NodeJS, OAuth, Angular 2.0, MSMQ, FAST Protocol, Action Script.</p>

	    	    	    	<em>Automated Trading System - Single Page Application & Backend Services:</em>
        <p>Automated trading system powered industry leading low latency performance with capability of Pre-trade risk management allows for safe trading within compliance parameter. It had web application for thousands of users participating simultaneously in price discovery. Details of <a class="company" href="http://www.infotechgroup.com/capizar/">Capizer 2.0</a> are available online.</p>

	    <em>Achievements:</em>
        <p> • Developed and maintained algorithms for internal SDK. </p>
        <p> • Wrote and consumed Restful API for client server application using NodeJS and Angular. </p>
        <p> • Developed understanding of low latency, high frequency real time application. </p>
		<p> •  Maintained front end of Adobe Flash Web App for Ghana Stock Exchange. </p>
    </article>
    <article>
        <header>
            <h1>C++ Developer (50+ Projects)</h1>
            <span><a class="company" href="https://www.freelancer.com/u/SahibYar">Freelancer.com</a></span>
            <span><address>Remote</address><time>Sep 2014 to 2016</time></span>
        </header>
        <p>As a university student and working as a Freelance C++ developer, I </p>
        <p> • Implemented a wide range of algorithms (heuristic and meta-heuristic algorithms, probabilistic data structures,
            solved multiple NP-hard problems) for research graduates.</p>
        <p> • Developed a very good command on Parallel Processing and Multi-Threading.</p>
    </article>
</section>
