<section class="thirteen columns">
    <h1>Hobbies</h1>
    <article>
        <p>I've always loved being creative, whether be it making <a class="company" href="http://youtube.com/{{ site.youtube }}"> YouTube videos</a>
            on different topics of computer science, or writing <a class="company" href="https://sahibyar.gitbooks.io/effective-cpp-summary/"> ebooks (for personal references)</a> or writing 
            <a class="company" href="{{ site.website_full }}{{ site.my_blogs}}"> blogs</a> 
            or <a class="company" href="https://github.com/{{ site.github }}"> developing / learning</a>
            things, or giving answers on 
            <a class="company" href="http://www.quora.com/profile/{{ site.quora }}">Quora</a>
             or 
             <a class="company" href="http://stackoverflow.com/{{ site.stackoverflow }}">Stack Overflow</a>
             . I also love to solve problems on Codility and Brilliant.org </p>
        <p> I have a deep love for music as evident from my 
                <a class="company" href="{{ site.sound_cloud_full }}"> SoundCloud profile</a>.
    </article>
</section>
