<section class="fourteen columns">
    <h1>Skills & Experties</h1>
    <article>
        <header class="four columns">
            <h1 class="skill">Development</h1>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;C++11,14,17           <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;Parallel Processing   <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;Multi-Threading       <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;STL, Templates        <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;XML, JSON             <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;Restful API           <br/>            
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;SOAP Web Services     <br/>                        
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;TCP/IP, UPD, FTP      <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;C#, Python            <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>     &nbsp;&nbsp;OpenMP                <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>          &nbsp;&nbsp;Kafka, ZeroMQ         <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>          &nbsp;&nbsp;MPI, Fast MPJ         <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>          &nbsp;&nbsp;Boost                 <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>   &nbsp;&nbsp;VC++, Win32           <br/>            
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>        &nbsp;&nbsp;SDL, OpenGL           <br/>
        </header>

        <header class="four columns">
            <h1 class="skill">Database</h1>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;SQL Server, Oracle <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>          &nbsp;&nbsp;MongoDB            <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>          &nbsp;&nbsp;PostgreSQL         <br/>

            <h1 class="skill">Reporting</h1>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;MS-SSRS            <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;Wijmo Reports      <br/>                
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>          &nbsp;&nbsp;Power BI           <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>          &nbsp;&nbsp;Telerik Reporting  <br/>

            <h1 class="skill">Version Controlling</h1>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;Git & GitHub       <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;Bitbucket & JIRA   <br/>                
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;SVN, CVS           <br/>                

            <h1 class="skill">Tools</h1>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;WireShark         <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;Socket WorkBench  <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;SOAPUI            <br/>
        </header>

        <header class="five columns">
            <h1 class="skill">Payment Domain Knowledge</h1>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;Payment System        <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;EMV, MagStrip Cards   <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;ISO 8583              <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;HSM (Thales, SafeNet) <br/>
            
            <h1 class="skill">Telephony Domain Knowledge</h1>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;Avaya CMS R18         <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;Avaya CVLAN Protocol  <br/>

            <h1 class="skill">IDEs & Profilers</h1>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;Visual Studio         <br/>            
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>            &nbsp;&nbsp;CLion                 <br/>            
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>          &nbsp;&nbsp;GCC, GDB              <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>          &nbsp;&nbsp;Valgrind              <br/>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>          &nbsp;&nbsp;perf & papi           <br/>
            
        </header>
    </article>
</section>
